{% extends 'base.html.twig' %}

{% block title %}Teachermarks - {{ selectedClass.name }} {% endblock %}

{% block body %}
    <div class="container d-flex flex-column justify-content-center">
        <div class="bg-secondary bg-opacity-25 m-5 p-3 rounded-3">
            <div class="d-flex justify-content-around  align-items-center">
                <h2>Classe: <span class="p-1 rounded-2 fw-bolder" style="background-color: {{selectedClass.color}}">{{ selectedClass.name }}</span></h2>
                <a href="/addstudent" class="btn btn-success"><i class="bi bi-person-add"></i> Ajouter un élève</a>
            </div>
            <h5>Effectif : {{students|length}} </h5>

            <table class="table table-hover mt-3 table align-middle text-center">
                <thead>
                    <tr>
                        <th>Nom</th>
                        <th>Prénom</th>
                        <th>Classe</th>
                        <th>Accéder à la fiche</th>
                        <th>Moyenne</th>
                    </tr>
                </thead>
                <tbody>

                {% for student in students %}
                    <tr class="">
                        <td>{{ student.lastname }}</td>
                        <td>{{ student.firstname }} </td>
                        <td>{{ student.schoolclass.name }}</td>
                        <td><a href="/showstudent{{ student.id }}" class="btn btn-primary"><i class="bi bi-eye"></i></a></td>
                        <td>?</td>
                    </tr>
 
                {% endfor %}
                </tbody>
            </table>    
        </div>
    </div>
{% endblock %}

